<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contacts List</h1>
        <div class="">
            <ul>
                <% for (let i of contact_list) {%>
                    <li>
                        <p><%= i.names %></p>
                        <p><%= i.phone %></p>
                    </li>
               <% }%>
            </ul>
        </div>
        <form action="/create-contact" method="POST">
            <input type="text" name="names" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder="Enter Phone Number" required>
            <button type="submit">Submit</button>

        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>